div{
    width: 100px; 
    height: 100px; 
    background-color: yellow;

}

#d1{
    width: 300px; 
    height: 200px; 
    background-color: green;
    /* margin: 10px 20px 30px 40px; */
    /* padding: 10px 20px 30px 40px; */
    position: relative;
    left: 500px;
    top: 0px;
}

#d2{
    width: 100px; 
    height: 100px; 
    background-color: red;
    position: absolute;
    left: 100px;
    top: 50px;
    border-radius: 100%;
}